/* Bootstrap */
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");

/* Latin font */
@import url("@fontsource/montserrat-alternates/latin-400.css");
@import url("@fontsource/montserrat-alternates/latin-500.css");
@import url("@fontsource/montserrat-alternates/latin-700.css");
@import url("@fontsource/montserrat-alternates/latin-800.css");

/* Cyrillic font */
@import url("@fontsource/montserrat-alternates/cyrillic-400.css");
@import url("@fontsource/montserrat-alternates/cyrillic-500.css");
@import url("@fontsource/montserrat-alternates/cyrillic-700.css");
@import url("@fontsource/montserrat-alternates/cyrillic-800.css");

:root {
  /* colors */
  --bs-primary: #ffbe2e;
  --bs-primary-rgb: 255, 190, 46;
  --bs-secondary: #fff8e9;
  --bs-secondary-rgb: 255, 248, 233;
  --bs-muted: #3e3b3b;
  --bs-link-color: var(--bs-primary);
  --bs-link-hover-color: var(--bs-primary);

  /* font */
  --bs-body-font-family: "Montserrat Alternates", var(--bs-font-sans-serif);
  --bs-body-font-size: 1.25rem;
  --bs-body-line-height: 1.2;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.py-4rem {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-6rem {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.px-6rem {
  padding-left: 6rem;
  padding-right: 6rem;
}
.px-8rem {
  padding-left: 8rem;
  padding-right: 8rem;
}

.fw-700 {
  font-weight: 700 !important;
}
.text-muted {
  color: var(--bs-muted) !important;
}

.ratio-3x2 {
  --bs-aspect-ratio: 66.66667%;
}

.main-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section-title {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 800;
  text-align: center;
}
.section-subtitle {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
.section-content {
  margin-top: 3rem;
}
@media (min-width: 1200px) {
  .section-title {
    font-size: 2.5rem;
  }
  .section-subtitle {
    font-size: 1.75rem;
  }
}

.section-heading-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 900;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .section-heading-4 {
    font-size: 3.5rem;
  }
}

.card {
  --bs-card-inner-border-radius: calc(3rem - 1px);

  height: 100%;
  border: none;
  border-radius: 3rem;
  box-shadow: 0 0 1rem rgba(var(--bs-primary-rgb), 0.25);
}

.ratio > img {
  object-fit: cover;
}

@media (min-width: 992px) {
  .lg-mw-25rem {
    max-width: 25rem;
  }
}

textarea.form-control.p-3 {
  /* font-size * line-height + padding + border */
  min-height: calc(1rem * 1.5 + 2rem + 1.6px);
}
textarea.form-control {
  /* font-size * line-height * max-lines + padding + border */
  max-height: calc(4rem * 1.5 + 2rem + 1.6px);
}
